<ul id="menupage">
    <li>@Html.ActionLink("Souscription", "Souscription", "Moderation")</li>      
    <li>@Html.ActionLink("Reference", "Index", "Reference")</li>   
    <li>@Html.ActionLink("Utilisateurs", "Liste", "Contact")</li>
    <li>@Html.ActionLink("Journal Souscription", "Index", "JournalSouscription")</li>  
    <li>@Html.ActionLink("Gestion client", "Index", "Client")</li>    
    <li>@Html.ActionLink("Contact client", "Index", "Contact")</li>   
    <li>@Html.ActionLink("Langue", "Pages", "Section")</li>  
    <li>@Html.ActionLink("Traduction", "Index", "AgeDeviceTraduction")</li>
    <li>@Html.ActionLink("Indicateurs", "Index", "Indicateur")</li>   
    <li>@Html.ActionLink("Import Parc", "Import", "Client")</li>
    
</ul>
