<ul id="menupage" style="text-align: left;">
    <li>@Html.ActionLink("Retour", "Souscription", "Moderation")</li>   
    <li>@Html.ActionLink("Contenu", "Pages", "Section")</li>   
    <li>@Html.ActionLink("Document", "Index", "Document")</li>
    <li>@Html.ActionLink("Politique", "Index", "Politique")</li> 
    <li>@Html.ActionLink("Equivalence", "Index", "Equivalence")</li>   
    <li>@Html.ActionLink("Contenu Mail", "Index", "ContenuMail")</li>     
    <li>@Html.ActionLink("Devise", "Index", "Devise")</li>    
</ul>
