<ul id="menupage" style="text-align: left;">
    <li>       
        <a href="@Url.Action("Souscription", "Moderation")">
            <img alt="Retour" style="vertical-align: middle; height:30px; width:30px;" src="~/Content/images/back.png" title="Retour" /> 
        </a> 
    </li>         
    <li>@Html.ActionLink("Age Device", "Index", "AgeDeviceTraduction")</li>   
    <li>@Html.ActionLink("Categorie Device", "Index", "CategorieDeviceTraduction")</li>   
    <li>@Html.ActionLink("Classe Device", "Index", "ClasseDeviceTraduction")</li>
    <li>@Html.ActionLink("Devise", "Index", "DeviseTraduction")</li>
    <li>@Html.ActionLink("Equivalence", "Index", "EquivalenceTraduction")</li>   
    <li>@Html.ActionLink("Politique", "Index", "PolitiqueTraduction")</li> 
    <li>@Html.ActionLink("Famille Device", "Index", "FamilleDeviceTraduction")</li>
    <li>@Html.ActionLink("Origine", "Index", "OrigineTraduction")</li>   
    <li>@Html.ActionLink("Pays", "Index", "PaysTraduction")</li>   
    <li>@Html.ActionLink("Question", "Index", "QuestionTraduction")</li>
    <li>@Html.ActionLink("Secteur Activite", "Index", "SecteurActiviteTraduction")</li> 
    <li>@Html.ActionLink("Tarif", "Index", "TarifTraduction")</li>   
    <li>@Html.ActionLink("Type Device", "Index", "TypeDeviceTraduction")</li>       
    <li>@Html.ActionLink("Type Ratio", "Index", "TypeRatioTraduction")</li>       
    <li>@Html.ActionLink("Type Usage", "Index", "TypeUsageTraduction")</li>       
</ul>
