@model Econocom.Model.Models.Benchmark.ClientDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ClientDetail</legend>

    <div class="display-label">NumberOfEmployees</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfEmployees)
    </div>

    <div class="display-label">RatioDeviceEmployee</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RatioDeviceEmployee)
    </div>

    <div class="display-label">TurnOver</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TurnOver)
    </div>

    <div class="display-label">PriceOfKWatt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PriceOfKWatt)
    </div>

    <div class="display-label">TotalElectricityBill</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalElectricityBill)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
