@{
    ViewBag.Title = "_MonSILayout";
}
@RenderBody()

<div>
    <div style="margin-bottom: 5px ">
        @RenderSection("TopImage", required: false)
        <div style="color: green; margin-left: 20px;"> @RenderSection("TopImageLabel", required: false)</div>
    </div>
    <div style="">@RenderSection("KwhImage", required: false)</div>
    

    
<div style=" background-color:#e0e1e3">
                       <center><font size="5"> <b>@RenderSection("KwhValue", required: false)</b> kwh</font></center>
                 </div>
        <div style="background-color:#e0e1e3; margin-top:6px">
                       <center><font size="5"> <b>@RenderSection("PercentageValue", required: false)</b> %</font></center>
                 </div>
    

</div>


