@using Econocom.Resource


@{
    ViewBag.Title = "_CredentialPartial";
    
    <script type="text/javascript">

        function onSuccess(result) {
            if (result.error) {
                $('#errorDiv').html(result.error);
            } else {
                $('#contentDivz').html(result.votes);
            }
        }

        window.onload = function () {

            if (navigator.appName == "Microsoft Internet Explorer") {
                if (document.getElementById("Credential_Identifiant"))
                    document.getElementById("Credential_Identifiant").setAttribute("style", "width: 115px;");
                if (document.getElementById("Credential_MotsDePasse"))
                    document.getElementById("Credential_MotsDePasse").setAttribute("style", "width: 115px;");
            }

        };

    </script>
    
}

@if (Request.IsAuthenticated)
{
    <text>
        @using (Html.BeginForm("Logoff", "Login", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()            
                <input type="submit" value="@Traduction.Deconnexion" class="Credential_Deconnexion" />            
        }
    </text>
}
else
{
    <text>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()       
        <span style="color:red; font-size:10px; width:364px; height:14px; text-align:left; display:block">@ViewBag.ErrorLogin</span>
        <input type="text" name="username"  placeholder="@Traduction.Identifiant" id="Credential_Identifiant"  class="Credential_Identifiant"/>
        <input type="password" name="password" placeholder="@Traduction.MotsDePasse" id="Credential_MotsDePasse" class="Credential_MotsDePasse"/>
        <input  type="submit" value="@Traduction.Connexion" class="Credential_Connexion link" id="Credential_Connexion"/>                              
    }
    </text>
}

