@{
    ViewBag.Title = "_SubMenuGreenItPartial";
}

<div id="subMenuGreenIt" style="width: 900px; height: 20px; border: 1px solid black ">
    <div id="detailsSi" style="float: left; background-color: aquamarine">
        <div style="float: left; ">Mon SI du: @ViewBag.DateModifier  @ViewBag.TypeObjet</div> 
        <div style="float: left; ; margin-left: 50px">Heure: @ViewBag.HeureModifier</div>
    </div>
    
    <div style="float: right">
        <div style="background-color: grey; float: left; ">
            @*@RenderSection("SectionWatt", required:false)
            @Ajax.ActionLink("Watt", "ShowWatt", "Consommation",
                             new
                                 {
                                     typeObjet = ViewBag.TypeObjet,
                                     idParent = ViewBag.IdParent
                                 },
                             new AjaxOptions { UpdateTargetId = "contentDivPartial" })   *@
        </div>
        <div style="background-color: grey;float: left; margin-left: 50px">
            @*@RenderSection("SectionCO2", required:false)
            @Ajax.ActionLink("CO2", "ShowCO2", "Consommation",
                             new
                                 {
                                     typeObjet = ViewBag.TypeObjet,
                                     idParent = ViewBag.IdParent   
                                 },
                             new AjaxOptions { UpdateTargetId = "contentDivPartial" })  *@
        </div>
    </div>

</div>