@model IEnumerable<Econocom.Model.Models.Benchmark.ADRESSE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            IDADRESSE
        </th>
        <th>
            PAY
        </th>
        <th>
            ADRESSE1
        </th>
        <th>
            ADRESSE2
        </th>
        <th>
            ADRESSE3
        </th>
        <th>
            CODEPOSTAL
        </th>
        <th>
            REGION
        </th>
        <th>
            VILLE
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDADRESSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAY.LIBELLEPAYS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADRESSE1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADRESSE2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADRESSE3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODEPOSTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VILLE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
