<ul id="menupage">
    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
    <li><a href="http://www.econocom.com">Econocom</a></li>
    <li>@Html.ActionLink("Notre offre", "About", "Home")</li>
    <li>@Html.ActionLink("Le simulateur", "Index", "Simulateur")</li>
    <li>@Html.ActionLink("[Admin]", "Index", "Admin",new { area = "Admin" },null)</li>
    <li>@Html.ActionLink("[File Upload]", "Index", "FileUpload")</li>
</ul>
