@using Econocom.Resource

@{
    ViewBag.Title = @Traduction.TitrePgMentionLegale;
    Layout = "~/Views/Shared/Maquette/_Layout_Info.cshtml";
    <link href="@Url.Content("~/Content/css/Page/Page.css")" rel="stylesheet" type="text/css"/>
}

<div class="ContenuSurPage">
     @if (@ViewBag.ContenuModere != null)
     {
        @Html.Raw(@ViewBag.ContenuModere.Contenu)
     }
</div>