@model Econocom.Model.ViewModel.ContactSouscriptionViewModel

@{
    ViewBag.Title = "ContactTemplate";
    Layout = "~/Views/Shared/Souscription_Layout/AdministrateurSouscription_Layout.cshtml";
    
            <style type="text/css">

.administrateurLabelFor {
    font-family: "Times New Roman";
}

    </style>
}


@section option3{



@if (ViewBag.subscribeType != "start")
{
   
    
     <div align="left" style="width: 200px; float: left">
        
       <span style="font-size: 1.5em"> L'administrateur</span>
    </div>

}


@*    @Ajax.ActionLink("Sauvegarder", "AdministrateurAffichage", "Souscription",
                         new
                             {
                            
                             },
        new AjaxOptions { UpdateTargetId = "AdministrateurContentDiv" })*@

 

}


@section Nom3{
    <div>
        <div style="width: 51px; float:left"> @Html.LabelFor(model => model.Nom, new { @class = "administrateurLabelFor" }) </div>
        <div style="width: 20px;  float:left"><span style="color:#83b81a; font-weight: bold; font-size: 13px"> *</span></div>
    </div>
    @Html.TextBoxFor(model => Model.Nom)
}

@section Fonction3{
    <div>
        <div style="width: 70px; float:left"> @Html.LabelFor(model => model.Fonction, new { @class = "administrateurLabelFor" })</div>
        <div style="width: 20px;  float:left"><span style="color:#83b81a; font-weight: bold; font-size: 13px"> *</span></div>
    </div> 
    @Html.TextBoxFor(model => Model.Fonction)
}

@section AdresseMail3{
    <div>
        <div style="width: 110px; float:left">@Html.LabelFor(model => model.Email, "Adresse Email", new { @class = "administrateurLabelFor" })</div>
        <div style="width: 20px;  float:left"><span style="color:#83b81a; font-weight: bold; font-size: 13px"> *</span></div>
    </div>
    @Html.TextBoxFor(model => Model.Email)
}

@section Prenom3{
    <div>
        <div style="width: 60px; float:left">@Html.LabelFor(model => model.Prenom, "Prénom", new { @class = "administrateurLabelFor" }) </div>
        <div style="width: 20px;  float:left"><span style="color:#83b81a; font-weight: bold; font-size: 13px"> *</span></div>
    </div>
    @Html.TextBoxFor(model => Model.Prenom)
}

@section Telephone3{
    <div>
        <div style="width: 80px; float: left">@Html.LabelFor(model => model.Telephone, "Téléphone", new {@class = "administrateurLabelFor"})</div>
        <div style="width: 20px; float: left"><span style="color: #83b81a; font-weight: bold; font-size: 13px"> *</span></div>
    </div>
    @Html.TextBoxFor(model => Model.Telephone) 
}
