@model Econocom.Model.ViewModel.UtilisateurSouscriptionViewModel

@{
    ViewBag.Title = "ContactTemplate";
    Layout = "~/Views/Shared/Souscription_Layout/UtilisateurSouscription_Layout.cshtml";

    <style type="text/css">
        .wide
{
     width: 205px;
            height: 30px;
}
    </style>
}

@section option{


@if (ViewBag.subscribeType != "start")
{
        <div align="left" style="width: 200px; float: left">
        
       <span style="font-size: 1.5em"> Les utilisateurs</span>
    </div>

    

}


@*     @Ajax.ActionLink("Sauvegarder", "UtilisateurAffichage", "Souscription",
                      new
                      {

                      },
                      new AjaxOptions { UpdateTargetId = "UtilisateurContentDiv" })*@

 
    
}






@section UserTable
{


       @for (var i = 0; i < 5; i++)
       {
          
          @Html.HiddenFor(Model => Model.ListeUtilisateurs[i].id)
            <tr>
                <td><span style="font-size: 14px; font-weight: bold">User @(i + 1)</span></td>

               <td>@Html.TextBoxFor(x => x.ListeUtilisateurs[i].Nom, new { @class = "wide" }) </td>

                 <td> @Html.TextBoxFor(x => x.ListeUtilisateurs[i].Prenom, new { @class = "wide" })</td>

                <td> @Html.TextBoxFor(x => x.ListeUtilisateurs[i].Email, new { @class = "wide" }) </td>
            </tr>


        }

    
}




